*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-color: #fff;
  --white: #fff;
  --cont-bg-color: #ececec;
  --border-color: rgb(200, 199, 199);
  --light-blue: rgb(61, 55, 255);
  --deep-blue: rgb(40, 33, 241);
  --dark: rgb(102, 102, 102);
  --red:red;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  font-family: sans-serif;
}


.container {
  width:38rem;
  max-width: 38rem;
  min-width: 35rem;
  max-height: 100vh;
  background-color: var(--cont-bg-color);
  box-shadow: 0 2px 8px rgb(164, 164, 164);
  overflow: hidden;
  border-radius: 5px;

}

.display-cont {
  height: 12vh;
  max-height: 12vh;
  padding: 2rem 2rem;
  background-color: var(--white);
  border-radius: 5px;
}
.display-screen{
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  font-size: 2.5rem;
  font-weight: 500;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5,1fr);
  width: 100%;
  padding: 2rem;
}

.button {
  border: 1px solid var(--border-color);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-transform: initial;
  font-weight: 300;
  transition: background-color 500ms ease;
  cursor: pointer;
}



.button:hover {
  background-color: var(--dark);
  color: var(--white);
}

#equals {
  background-color: var(--light-blue);
  color: var(--white);
  grid-column: 4/5;
  grid-row: 3/7;
  height: 100%;
 
}

#equals:hover {
  background-color: var(--deep-blue);
  color: var(--white);
 
}
